@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('./fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('./fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-ultra-light';
    src: url('./fonts/montserrat-ultra-light.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: #CAD3D3;
}

.grid {
    padding: 182px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

.grid-item {
    background: white;
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 42px;
    margin-top: 280px;
    width: 362px;
    /* height: 272px; */
}

.avt {
    width: 120px;
    height: 120px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new {
    position: absolute;
    top: -20px;
    left: -10px;
}

.new p {
    position: absolute;
    top: 100px;
    color: white;
    top: 25px;
    left: 18px;
    font-size: 12px;
    font-family: Montserrat-Bold;
}

.avt.ocean {
    background-color: white;
    color: rgb(40, 0, 219);
}

.avt.forest {
    background-color: white;
    color: yellowgreen;
}

.avt.mountain {
    background-color: rgb(47, 2, 77);
    color: rgb(160, 0, 125);
}

.card-img {
    width: 362px;
    height: 272px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.sub-text {
    font-family: montserrat-ultra-light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fff;
}

.sub-text span {
    color: #b6c6c9;
    font-size: 14px;
    position: absolute;
    top: 50px;
    left: 20px;
    line-height: 1;
    font-family: SourceSansPro-Light;
}

.price {
    font-family: SourceSansPro-Light;
    font-size: 32px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70px;
    text-align: center;
}

.price p {
    font-size: 14px;
    font-family: SourceSansPro-Regular;
}

.card-content {
    text-align: center;
}

.card-content-header {
    color: rgba(109, 97, 97, 0.87);
}

.header-text {
    font-size: 24px;
    padding-top: 25px;
    /* display: block; */
    color: #6e7e8a;
    font-family: SourceSansPro-Light;
}

.header-text-small {
    font-size: 12px;
    font-family: SourceSansPro-Light;
}

.bg-text {
    padding-top: 20px;
    font-size: 12px;
    font-family: SourceSansPro-Light;
}

.bg:nth-child(2n+1) {
    background-color: #f4f6f7;
    font-family: SourceSansPro-Regular;
}

.bg {
    line-height: 51px;
    font-size: 16px;
}

.button {
    width: 170px;
    height: 48px;
    background-color: #4CAF50;
    border: none;
    color: white;
    /* padding: 8px 42px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 40px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: montserrat-ultra-light;
}

.button2:hover {
    background: #6c136f;
    color: rgb(255, 255, 255);
}

.button3:hover {
    background: rgb(7, 218, 101);
    color: rgb(255, 255, 255);
}

.button1:hover {
    background: rgb(7, 49, 236);
    color: rgb(255, 255, 255);
}

.button1 {
    background-color: white;
    color: #008CBA;
    border: 2px solid #008CBA;
}

.button2 {
    background-color: white;
    color: rgb(51, 35, 201);
    border: 2px solid;
}

.button3 {
    background-color: white;
    color: chartreuse;
    border: 2px solid chartreuse;
}