@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('./fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('./fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-ultra-light';
    src: url('./fonts/montserrat-ultra-light.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat-Bold.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 2rem;
    background-color: #CAD3D3;
}

.flex {
    padding-top: 182px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.flex-item {
    background-color: white;
    position: relative;
    width: 362px;
    margin-bottom: 80px;
    margin-left: 42px;
}

.header-item {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
}

.avt {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 1000px;
    /* background-color: yellowgreen; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .price {
    font-family: SourceSansPro-Light;
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.avt span {
    font-family: SourceSansPro-Light;
    font-size: 32px;
}

.avt p {
    font-size: 14px;
    font-family: SourceSansPro-Regular;
    color: #cad3d3;
}

.avt.ocean {
    background-color: white;
    color: rgb(40, 0, 219);
}

.avt.forest {
    background-color: white;
    color: yellowgreen;
}

.avt.mountain {
    background-color: rgb(47, 2, 77);
    color: rgb(160, 0, 125);
}

.cover-ocean {
    background-image: url('./images/ocean.png');
}

.cover-mountain {
    background-image: url('./images/mountain.png');
}

.cover-forest {
    background-image: url('./images/forest.png');
}

.text-cover {
    font-family: montserrat-ultra-light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fff;
}

.new {
    position: absolute;
    top: -20px;
    left: -10px;
}

.new p {
    position: absolute;
    top: 100px;
    color: white;
    top: 25px;
    left: 18px;
    font-size: 12px;
    font-family: Montserrat-Bold;
}

.sub-text-mountain {
    color: #b6c6c9;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    font-family: SourceSansPro-Light;
}

.content-item {
    text-align: center;
}

.content-title {
    color: rgba(109, 97, 97, 0.87);
}

.content-title-big {
    font-size: 24px;
    padding-top: 25px;
    color: #6e7e8a;
    font-family: SourceSansPro-Light;
}

.content-title-small {
    font-size: 12px;
    font-family: SourceSansPro-Light;
}

.list-content {
    padding-top: 20px;
    font-size: 12px;
    font-family: SourceSansPro-Light;
}

.list-content-item:nth-child(2n+1) {
    background-color: #f4f6f7;
}

.list-content-item {
    color: #5f727f;
    line-height: 51px;
    font-size: 16px;
    font-family: SourceSansPro-Regular;
}

.list-content-item ul {
    list-style-type: none;
}

.button {
    width: 170px;
    height: 48px;
    background-color: #4CAF50;
    border: none;
    color: white;
    /* padding: 8px 42px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 40px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: montserrat-ultra-light;
}

.button2:hover {
    background: #6c136f;
    color: rgb(255, 255, 255);
}

.button3:hover {
    background: rgb(7, 218, 101);
    color: rgb(255, 255, 255);
}

.button1:hover {
    background: rgb(7, 49, 236);
    color: rgb(255, 255, 255);
}

.button1 {
    background-color: white;
    color: #008CBA;
    border: 2px solid #008CBA;
}

.button2 {
    background-color: white;
    color: rgb(51, 35, 201);
    border: 2px solid;
}

.button3 {
    background-color: white;
    color: chartreuse;
    border: 2px solid chartreuse;
}